span.success {
	background-color: #99ff99;
}

span.failure {
	background-color: #ff9999;
}

span.failure span.expected {
	text-decoration: line-through;
	margin-right: 5px;
}

span.failure pre.exception {
	background-color: #FFFFFF;
	border: 1px solid #808080;
}

/* HTML report styles */
body.caduceus {
	margin: 0;	
}

div.caduceus_report_head {
	font-family: serif;
	background-color: #757575;
	color: #FFFFFF;
	float: none;
}

.caduceus_report_head h1 {
	font-size: 16pt;
	margin: 10px 15px;
	padding: 0;
	float: left;
}

.caduceus_report_head img.result {
	float: left;
	padding: 0 0 0 10px;
}

.caduceus_report_head img.caduceus_logo {
	float: right;
	padding: 9px 10px 5px 5px;
}

div.caduceus_report_foot {
	clear: both;
	padding-top: 20px;
	font-family: serif;
	font-size: 7pt;
	color: #202020;
	text-align: center;
}

div.caduceus_report {
	font-family: serif;
	font-size: 8pt;
}

.caduceus_report div {
	float: left;
	background-color: #FFFFFF;
	border: 1px solid #808080;
	-moz-border-radius: 10px;
	padding: 8px;
	margin: 10px;	
}

.caduceus_report h1 {
	font-size: 16pt;
	color: #404040;
	margin-top: 1px; 
}

.caduceus_report h2 {
	font-size: 14pt;
	color: #404040;
	margin-top: 1px; 
}

.caduceus_report table {
	border-collapse: collapse;
}

.caduceus_report tr:nth-child(even) {
	background: #FFFFFF;
}

.caduceus_report tr:nth-child(odd) {
	background: #F5F5F5;
}

.caduceus_report td, .caduceus_report th {
	font-size: 8pt;
	border: 1px solid #808080;
	color: #404040;
	vertical-align: top;
}

.caduceus_report th {
	text-align: center;
	padding: 2px 10px;
	background-color: #707070;
	color: #FFFFDD;
}

.caduceus_report td {
	padding: 5px;
}

.caduceus_report td.count {
	text-align: right;
	font-weight: normal;
}

.caduceus_report td.count+td.wrong {
	font-weight: bold;
	color: #A80022;
}

.caduceus_report .total td {
	text-align: right;
	font-weight: bold;
	font-size: 10pt;
	background-color: #D0D0D0;
}

.caduceus_report a, .caduceus_report a:visited {
	color: #404040;
	font-weight: bold;
	text-decoration: none;
}

.caduceus_report a:hover {
	text-decoration: underline;
}
